<div class="bg-dark bg-gradient text-white">
    <h1>Chat para Clientes</h1>
    <div id="mensajes"></div>
    <form onsubmit="return addMessage(this)">
      <input class="rounded" type="text" id="email" placeholder="Tu Email" />
      <input class="rounded" type="text" id="texto" placeholder="Cuéntanos algo..." />
      <input class="rounded" type="submit" value="Enviar"/>
    </form> 
    <br>
  </div>