<div class="bg-dark bg-gradient text-white">
    <h1 class="text-center">Chat para Clientes</h1>
    <div id="procentaje"></div>
    <div class="d-flex justify-content-center align-items-center">
      <div id="mensajes"></div>
    </div>
    <form class="d-flex flex-column align-items-center justify-content-center" onsubmit="return false">
      <input class="rounded my-2" style="width: 30%" type="text" id="id" placeholder="Email" />
      <input class="rounded my-2" style="width: 30%" type="text" id="name" placeholder="Nombre">
      <input class="rounded my-2" style="width: 30%" type="text" id="apellido" placeholder="Apellido">
      <input class="rounded my-2" style="width: 30%" type="number" id="edad" placeholder="Edad">
      <input class="rounded my-2" style="width: 30%" type="text" id="alias" placeholder="Alias">
      <input class="rounded my-2" style="width: 30%" type="text" id="avatar" placeholder="Foto de Avatar">
      <input class="rounded my-2" style="width: 30%" type="text" id="texto" placeholder="Cuéntanos algo..." />
      <button onclick="addMessage()" class="btn btn-success mt-3 mb-5">Enviar</button>
    </form> 
    <br>
  </div>